*{
    margin:0;
}
:root {
    --red-suit-color: #ff0000b2;
    
    
    --card-height: 20px;
    --card-width: 300px;
    
    --card-font-size: 15px;
}

body {
    margin: 0;
    /* transition: 0.3s; */
}

.deck {
    font-size: var(--card-font-size);
    display: grid;
    place-items: center;
}

.diamonds {
    background-color: var(--red-suit-color);
    height: var(--card-height);
    width:var(--card-width);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.clubs {
    background-color: black;
    height: var(--card-height);
    width:var(--card-width);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hearts {
    background-color: var(--red-suit-color);
    height: var(--card-height);
    width:var(--card-width);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.spades {
    background-color: black;
    height: var(--card-height);
    width:var(--card-width);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.selected{
    background-color: #d79a9a;
    filter:brightness(1.4);
    transition: 0.3s;
}

.card:nth-child(-n+26){
    /* grid-area: left; */
}

.card:nth-child(n+27){
    /* grid-area: right; */
}

.shuffling{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    transition: 2s;
}